{% comment %}theme-check-disable UndefinedObject{% endcomment %}
{{ 'section-footer-custom.css' | asset_url | stylesheet_tag }}

<footer class="footer footer-custom color-{{ section.settings.color_scheme }} gradient">
  <div class="footer__content-bottom">
    <div class="footer__content-bottom-wrapper page-width">
      <div>
        {% render 'logo' %}
      </div>
      <div class="candy-spray-avatar-footer">
        <img src="https://cdn.shopify.com/s/files/1/0602/7984/9199/files/candy-spray-avatar.svg" alt="Candy Spray Avatar" width="auto">
      </div>

      <div class="footer__column">
          <ul class="footer__links">
            <li>Designs</li>
            <li>Cart</li>
            <li>Contact</li>
          </ul>
          
          <ul class="footer-block__details-content list-unstyled">
            {%- for link in block.settings.menu.links -%}
              <li>
                <a href="{{ link.url }}" class="link link--text list-menu__item list-menu__item--link{% if link.active %} list-menu__item--active{% endif %}">
                  {{ link.title }}
                </a>
              </li>
            {%- endfor -%}
          </ul>
        

        <div class="footer__copyright caption">
          <small class="copyright__content">&copy; Copyright {{ 'now' | date: "%Y" }}, {{ shop.name | link_to: routes.root_url }}</small>
        </div>
      </div>

    </div>
  </div>
</footer>

{% schema %}
{
  "name": "t:sections.footer.name",
  "blocks": [
    {
      "type": "link_list",
      "name": "t:sections.footer.blocks.link_list.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Quick links",
          "label": "t:sections.footer.blocks.link_list.settings.heading.label",
          "info": "t:sections.footer.blocks.link_list.settings.heading.info"
        },
        {
          "type": "link_list",
          "id": "menu",
          "default": "footer",
          "label": "t:sections.footer.blocks.link_list.settings.menu.label",
          "info": "t:sections.footer.blocks.link_list.settings.menu.info"
        }
      ]
    }
  ],
  "settings": [
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__1.content",
      "info": "t:sections.footer.settings.header__1.info"
    },
    {
      "type": "checkbox",
      "id": "newsletter_enable",
      "default": true,
      "label": "t:sections.footer.settings.newsletter_enable.label"
    },
    {
      "type": "text",
      "id": "newsletter_heading",
      "default": "Subscribe to our emails",
      "label": "t:sections.footer.settings.newsletter_heading.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__2.content",
      "info": "t:sections.footer.settings.header__2.info"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": false,
      "label": "t:sections.footer.settings.show_social.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__3.content",
      "info": "t:sections.footer.settings.header__4.info"
    },
    {
      "type": "checkbox",
      "id": "enable_country_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_country_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__5.content",
      "info": "t:sections.footer.settings.header__6.info"
    },
    {
      "type": "checkbox",
      "id": "enable_language_selector",
      "default": true,
      "label": "t:sections.footer.settings.enable_language_selector.label"
    },
    {
      "type": "header",
      "content": "t:sections.footer.settings.header__7.content"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.footer.settings.payment_enable.label"
    }
  ],
  "default": {
    "blocks": [
      {
        "type": "link_list"
      }
    ]
  }
}
{% endschema %}
